---
import { Img } from 'astro-imagetools/components'
const bgColor = '#E6E6E6'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Img src="/src/images/test.png" alt="" format="jpg" flatten={true} background={bgColor} w={500} />
  </body>
</html>
